<!-- Hello world -->


<!-- here this is the name -->
<!-- <app-test-comp></app-test-comp> -->


<!-- string interpolation {{_________}}-->


<!-- <h3>AngularBasics</h3>

<h3>Welcome to {{title}}</h3> -->

{{ ProjectName }} and {{ title }}


{{getCustomerName()}}


<!--property binding  [propername]-->
<input value="Madan">
<input [value]="customerRole">

<input type="text" disabled="true">
<input [type]="inputType" disabled="true">
<input [type]="inputType" [disabled]="isDisabled" >


<!-- event | task | action ---------() -->

<button (click)="btnClick()"  (mouseover)="btnMouseOver()" >ClickMe</button>

    